.warning{
font-size:11px;
color:red
}
.table-container{
    width:100%
}
.table-container table{
    width:100%;
    font-size: 1vw;
}
table.paleblue thead th, table.paleblue thead td {
    font-size:16px;
}
.nodisplay {
	display:none;
}
.selector {
    width: 1200px;
    float: left;
}
.selector-available , .selector-chosen {
    width: 500px;
}
.selector select {
    width: 500px;
}
.selector option {
	font-size: 12px;
	/* min-height: 25px; */
}

div.pform {
	background-color:ivory;
	min-height:700px;
}
.alternate_rows tbody tr:nth-child(odd) {
	background-color:white;
}
.detail_table thead tr {
	background-color:darkblue;
	color:white;
}
.main_table thead tr {
	background-color:darkmagenta;
	color:white;
}
.main_table tbody tr:nth-child(odd) {
	background-color:white;
}

table.pstable {
    margin-right: 50px;
    margin-left: 60px;
}
.requiredField {
	    font-weight: 600;
}
.success_message {
	color:green;
	margin: 15px;
}
.errorlist li{
    color: red;
}
.errortext {
	color:red;
	font-size: 20px;
}
.horizontalForm {
	background: #dde8ec;
}
.horizontalForm label {
	padding: 20px;
}
.horizontalForm input,select {
	margin : 5px;
}

.my_heading
{
	
}
body
{
background:url(images/bg.gif) repeat #000000;
padding:0; font-family:arial, sans-serif; font-size:12px;
margin:0px auto auto auto;
color:#36322b;
}
p{
padding:0px;
text-align:justify;
margin:0px;
line-height:20px;
}
p.welcome{
padding:30px 35px 0 35px;
}
p.testimonial{
font-style:italic;
padding:5px 15px 0 5px;
}
.clear{
clear:both;
}

#main_container{
width:821px;
height:auto;
margin:auto;
padding:0px;
}
#header{
width:821px;
height:135px;
margin:0px;
padding:0px;
background:url(images/header_bg.gif)  center top;
}
.logo{
padding:30px 0 0 0px;
}
.title{
width: auto;
padding:2px 0 10px 0;
font-size:17px;
color:#2e2721;
font-weight:bold;
}
.title_welcome{
width: auto;
padding:0 0 0 35px;
font-size:22px;
color:#24a4b3;
background:url(images/checked.gif) no-repeat left top;
margin:0 0 10px 25px;
}
span.red{
font-weight:bold;
color:#da5b23;
}
span.orange{
font-weight:bold;
color:#da5b23;
}

/*---------------- menu tab----------------------*/
.menu{
/* width:821px; */
height:42px;
margin:0px;
background:url(images/menu_bg.gif) no-repeat left;
}
.menu ul{
list-style:none;
padding:0 0 0 15px;
margin:0px;
}
.menu ul li{
display:inline;
}
.menu ul li a{
float:left;
height:42px;
border:none;
padding:0 15px 0 15px;
text-decoration:none;
color:#fff;
line-height:42px;
font-size:14px;
}
.menu ul li.selected a{
float:left;
height:42px;
border:none;
padding:0 15px 0 15px;
text-decoration:none;
color:#fff;
line-height:42px;
font-size:14px;
background:url(images/menu_bullet.gif) no-repeat bottom center;
}
.menu ul li a:hover{
background:url(images/menu_bullet.gif) no-repeat bottom center;
}

/*--------------------------------submenu*/
.submenu{ width:100%; height:auto; background-color:#edcd66; clear:both; float:left;}
.submenu ul{ padding:5px 0 5px 25px; margin:0px; list-style:none;}
.submenu ul li{ float:left; padding:0px; margin:0px;}
.submenu ul li a{ display:block; float:left; padding:3px 6px 3px 6px;  color:#000; text-decoration:none;
margin:5px 4px 10px 0;font-size:12px;}
.submenu ul li a.selected{display:block; float:left; padding:3px 6px 3px 6px; color:#FFFFFF; text-decoration:none;
margin:5px 4px 8px 0;color:#FFFFFF; font-size:12px; background-color:#366082;
-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;
}
.submenu ul li a:hover{background-color:#366082; color:#FFFFFF;
-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;
}
/*-------------welcome_box------------*/
.welcome_box{
width:496px;
height:202px;
background:url(images/welcome_box.gif) no-repeat center;
padding:0px;
}
/*---------------center_content-------*/
.center_content{
/* width:821px; */
height:auto;
clear:both;
padding:25px 0 30px 0;
background-color:#e9e5e2;
}
.center_left{
width:500px;
float:left;
padding:10px 0 10px 10px;
}
.center_right{
width:300px;
float:left;
padding:10px 0 10px 0px;
}
.software_box{
width:187px;
height:265px;
padding:0 0 15px 50px;
}
.features{
padding:10px 0 0 30px;
}
.news_box{
float:left;
width:auto;
border-bottom:1px #CCCCCC dashed;
padding:10px 0 8px 0;
}
.news_icon{
width:30px;
height:33px;
float:left;
background:url(images/news_icon.gif) no-repeat center;
}
.news_content{
width:400px;
float:left;
text-align:justify;
line-height:20px;
padding:0 0 0 10px;
}
/*-----------------------login_form-------------------*/
.text_box{
width:278px;
height:144px;
padding:15px 0 0 10px;
background:url(images/text_box.gif) no-repeat center;
background-position:0px 0px;
}
.login_form_row{
float:left;
padding:4px 0 4px 0;
}
label.login_label{
width:70px;
float:left;
padding:3px 5px 0 0;
color:#000;
text-align:right;
}
input.login_input{
width:153px;
height:18px;
float:left;
border:1px #9dbbc6 solid;
background-color:#fff;
color: #000;
}
input.login{
float:right;
padding:10px 20px 0 0;
}
/*----------------------list-------------------------*/
ul.list{
list-style:none;padding:0px;margin:0px; 
}
ul.list li{
list-style:none;width: auto;height: auto;padding:0px; margin:8px 0 8px 0;
}
ul.list li a{
height:24px; width: auto; padding:0 0 0 15px; margin:0;color:#36322b;text-align:left;line-height:24px;
text-decoration:none;
}
ul.list li span{
height:24px; width:24px; display:block;padding:0px; margin:0px;color:#000;text-align:center; float:left; float:left; line-height:24px;
background:url(images/bullet_list.gif) no-repeat left;
}
ul.list li a:hover{
text-decoration:underline;
}
.testimonials{
padding:20px 0 20px 0;
}
/*-------------------footer------------------------*/
#footer{
width:821px;
height:50px;
clear:both;
color:#837d7b;
}
.left_footer{
float:left;
padding:20px 0 0 0;
}
#footer a{
color:#837d7b;
padding:0 8px 0 8px;
text-decoration:none;
}
.right_footer{
float:right;
padding:15px 5px 0 0 ;
}
